*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}


form{
    display: grid;
    place-items: center;
    box-shadow: 0 0 2px;
}

input{
    width: 300px;
    margin: 7px;
    padding: 6px;
}
.prg{
color: red;
}

.ipt{
    border: 1px dashed black;
}

.Rsn{
    height: 100px;
}

.btn{
    margin: 6px;
    width: 70%;
    height: 35px;
    border: none;
    border-radius: 6px;
    background-color: yellowgreen;
}

